* {
    box-sizing: border-box;
  }
.profile-pic{
    border-radius: 50%;
}
.main{
    display: grid;
    grid-template-columns: none;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
.side-bar{
    border: 5px solid red;
    background-color: aqua;
    grid-column: 1/1;
    grid-row: 1/span 6;
    height: 1000px;
}
.header{
    border: 5px solid red;
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column: 2/span 5;
}
.Main-Content{
    border: 5px solid red;
    background-color: aqua;
    grid-column: 2/5;
}
.Orders{
    border: 5px solid red;
    background-color: aqua;
    grid-area: 2/5/5/6;
    height: 500px;
}
.friends{
    border: 5px solid red;
    background-color: aqua;
    grid-area: 3/5/3/6;
}
.search-section{
    grid-area: 2/ span 6;
    width:100%;
    display: flex;
    background-color: chartreuse;
    justify-content: center;
}
.greetings-section{
    grid-row: 3/ span 6
}
.Home
{
    display: flex;
    align-items: center;
    align-content: center;   
}
.sub-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}